body {
    background-color: #bdc3c7;
}

nav div>h4 {
    margin: 0;
    padding-top: .5em;
}

select {
    display: inline;
}

#buscar {
    margin: 2em 0;
}

#vermas {
    background-color: grey;
    margin: 1em 0;
    font-size: 1em;
    border-radius: 10px !important;
    text-transform: none;
}

.card-content {
    padding: 20px !important;
}

.panel {
    position: fixed;
}

.invisible {
    display: none;
}

div.lista .card:hover {
    opacity: 0.8;
    cursor: pointer;
}

div.lista {
    max-height: 100%;
    overflow: scroll;
}

.lista img {
    max-width: 250px !important;
}

#personalizada {
    margin-top: 1em;
}

.select-wrapper {
    width: 70%;
    margin: 0 auto !important;
}